<footer class="footer white">
  <div class="footer-contaienr contaienr align-c">
    <div class="footer-logo">
      <img src="/images/logo-white.png" alt="">
    </div>

    <div class="footer-apps">
      <a href="https://go.onelink.me/app/ac61ca3c" target="_blank" class="apple">
        <img src="/images/app-store@2x.png" alt="">
      </a>
      <a href="https://go.onelink.me/app/d9fdbe28" target="_blank" class="android">
        <img src="/images/google-play@2x.png" alt="">
      </a>
    </div>

    <div class="footer-copy">
      © 2019 Tinaba S.p.A. – P.I. 09158950965 – REA MI 2072 562 <br>
      Via Andrea Appiani 7, 20121 Milano (MI)
    </div>
  </div>
</footer>
